<ion-content [fullscreen]="true">
  <ion-list class="chat-messages">
    <ion-item *ngFor="let msg of messages" [class.user]="msg.from === 'user'" [class.bot]="msg.from === 'bot'">
      @if (msg.from === 'bot') {
        <img class="profile-img bot" src="assets/bot.svg" alt="Bot" />
        <ion-label>
          <markdown [data]="msg.text"></markdown>
        </ion-label>
      } @else {
        <ion-label>
          <p>{{ msg.text }}</p>
        </ion-label>
        <img class="profile-img user" src="assets/user.svg" alt="User" />
      }
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="chat-footer">
  @if(isThinking) {
  <div class="thinking-text">Bot is thinking...</div>
  }
  <ion-toolbar>
    @if (folder === 'pdf-summarizer') {
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="mailOutline"></ion-icon>
        <input
        class="file-input"
          type="file"
          accept="application/pdf"
          (change)="onFileSelected($event)"
          placeholder="Upload PDF"
        />
      </ion-button>
    </ion-buttons>
  }
    <ion-input
      [(ngModel)]="newMessage"
      placeholder="Type your message..."
      (keyup.enter)="sendMessage()"
      clearInput
    ></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="sendMessage()" [disabled]="!newMessage && !selectedFile">
        Send
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
